@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
body {
	background: rgb(236, 250, 221);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    display: grid; 
}
#cat-pic, .form-container{
    grid-area: 1/1;
}

#mini{
    font-size: small;
    font-weight: 700;
}
.form-container{
    text-align: center;
    position: relative;
}

.input-sign-in{
    height: 2.7vh;
    border-radius: 8px;
    width: 240px;
    font-weight: 600;
    
}
#cat-pic{
    z-index: -1;
    margin-top: 32%;
}
#heading{
    font-size: 35px;
    text-decoration-line: underline;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
}
#submit-button{
margin-top: 15px;
height: 5vh;
width: 15vh;
border-radius: 12px;
font-weight: bold;
text-decoration: none;
color: #ffffff;
background: #4d4a6b;
transition: .4s;
cursor: pointer;
}
#submit-button:hover {
    background: #37ee50;
    color: white;
}